h2 {
  font-size: 80px;
  color: #eee;
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
 font-size: 25px;
 color: #eee;
 font-weight: 50;
 margin: 0px auto 0px;
 max-width: 60%;
 text-align: center;
}

.btn {
  /* If you change the width you must also change the px value to half of the width value in the calculation */
  width: 80px;
  margin-left: calc( 50vw - 40px );
  color: #eee;
  margin-top: 100px;
  font-family: sans-serif;
  font-weight: bold;
}


#follow{
  color: white;
  font-size: 32px;
  padding-left: 430px;
}

#contact{
  color: white;
  font-size: 32px;
}

#Followus{
  display: flex;
  justify-content:space-between;
  align-items:center;
  font-size: 30px;
  color: black;
  margin-top: 100px;
  padding: 100px;

}


.contact{
  background-color: #333;
}

.social{
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#instagram{
  display: flex;
  justify-content:space-between;
  align-items:center;
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

#twitter{
  display: flex;
  justify-content:space-between;
  align-items:center;
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

#facebook{
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

.Contactdetails{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#ourservices{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 100px;
  margin-top: 50px;
  font-size: 32px;
  font-style: helvetica;
}

#cv{
  width: 200px;
  height: 200px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  border-radius: 50%
}


.flip-box-back {
  text-align: center;
  padding: 0 50px 0 50px;
  padding-top: 70px;
  justify-content: center;
  color: black;
}

.flip-box-front {
  background-color: transparent;
  background-image: url(cv1.jpg);
  background-repeat: no-repeat;
  display: flex;
}
.flip-box {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid 255, 255, 255, 0;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  color: black;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 200px;
  height:200px;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: transparent;
  background-image: url(cv1.jpg);
  background-repeat: no-repeat;
  display: flex;
}

.flip-box-back {
  background-color: transparent;
  color: black;
  text-align: center;
  justify-content: space-around;
  display: flex;
  transform: rotateY(180deg);
}

#cviconword{
  color: black;
  font-size: 20px;
  font-style: helvetica;
  align-items: center;
}


#interviews{
  width: 200px;
  height: 200px;
  margin-left: 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
}

#interviewiconword{
  color: black;
  font-size: 20px;
  font-style: helvetica;
  align-items: center;
}
#application{
  width: 200px;
  height: 200px;
  margin-left: 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
}

#applicationiconword{
  color: black;
  font-size: 20px;
  font-style: helvetica;
  align-items: center;
}

#cpd{
  width: 200px;
  height: 200px;
  margin-left: 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#cpdiconword{
  color: black;
  font-size: 20px;
  font-style: helvetica;
  align-items: center;
}

div.reviews{
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: 100px;
  margin-bottom: 100px;
}

h4{
  display: flex;
  justify-content:center;
  padding: 50px;
  margin-top: 0px;
  font-size: 40px;
  color: black;
}

.reviews{
  height: 300px;
  width: 100%;

}

#reviewsheading{
  color: black;
  font-size: 40px;
  padding: 30px;
}

#review1{
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  margin-bottom: 30px;
  padding-left: 40px;
}

#review2{
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  margin-top: 30px;
  padding: 30px;
  margin-bottom: 10px;
}

#review3{
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  margin-top: 30px;
  padding: 30px;
  margin-bottom: 10px;
}
/* .contact{
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: 100px;
  margin-bottom: 100px;
} */

.homepagefooter{
  background-color: black;
  width: 100%;
  height: 10%;
  padding-left: 220px;
  margin-top: 30px;
}

#follow{
  font-size: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  border: auto;
  margin: auto;
}

#instagram{
  width: 50px;
  height: 50px;
  justify-content: flex-start;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 20px;

}

#fb{
  width: 50px;
  height: 50px;
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 10px;
}

#twitter{
  width: 50px;
  height: 50px;
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 10px;
