.homepagetop {
  background-image: url("../londonlaptop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: -webkit-fill-available
}

h1{
  display: flex;
  padding-top: 200px;
  justify-content:center;
  align-items: center;
  color: white;
}

h2{
  display: flex;
  justify-content:center;
  align-items: center;
  color: white;
}

div.button1{
  display: flex;
  justify-content:center;
  align-items: center;
}

#ourservices{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 100px;
  margin-top: 50px;
  font-size: 32px;
  font-style: helvetica;
}

#cv{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}

#interviews{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}


#application{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#cpd{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}


div.reviews{
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: 100px;
  margin-bottom: 100px;
}

h3{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
  font-size: 32px;
  font-style: helvetica;
}

#review1{
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  margin-bottom: 30px;
}

#review2{
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  margin-top: 30px;
}

.contact{
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#follow{
  color: white;
  font-size: 32px;
}

#contact{
  color: white;
  font-size: 32px;
}

#Followus{
  display: flex;
  justify-content:space-between;
  align-items:center;
  font-size: 30px;
  color: black;
  margin-top: 100px;
  padding: 100px;

}


#Contactus{
  display: flex;
  justify-content:space-between;
  align-items:center;
  font-size: 30px;
  color: black;
  margin-top: 100px;
  padding: 100px;


}

.Contact{
  background-color: #333;
}

.social{
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#instagram{
  display: flex;
  justify-content:space-between;
  align-items:center;
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

#twitter{
  display: flex;
  justify-content:space-between;
  align-items:center;
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

#facebook{
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

.Contactdetails{
  display: flex;
  align-items: center;
  justify-content: space-around;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
